/* 
Root variables, page wrapper and universal styles; 
*/

:root {
  --clr-page-background: #FFFFFF;
  --clr-button-alternate-text: #FFFFFF;
  --clr-card-background: #FCFCFC;
  --clr-base-text: #0D0D0D;
  --clr-light-border: #F3F3F3;
  --clr-dark-border: #323232;
}

* {
  font-family: 'Readex Pro';
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

/*
Header styling;
*/

h4 {
  margin: 0;
}

.header {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
  border-radius: 1rem;
  border: 1px solid var(--clr-light-border);
  background: var(--clr-card-background);
  justify-content: space-between;
  color: var(--clr-base-text);
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0.5rem 1.5rem;
}

.link {
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: end;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-light-border, #F3F3F3);
  background: var(--clr-page-background, #FFF);
}

/*
Arranging content flexbox;
*/

.content {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex: 1 0 0;
  align-self: stretch;
}

/*
Settings card & children styles;
*/

.settings-card {
  display: flex;
  padding: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 21.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-light-border);
  background: var(--clr-card-background);
}

.settings-card-heading {
  margin: 0 0.75rem;
}

h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.24px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  padding: 0.25rem;
  margin: 0 0.75rem;
}

.text-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 0.25rem;
}

label {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  text-align: left;
}

.lightness-text {
  margin: 0;
  text-align: left;
}

.lightness-input {
  display: flex;
  gap: 0.5rem;
}

input,
select,
#colour-val {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  border: 1px solid var(--clr-light-border);
  background: var(--clr-page-background);
}

#brand-colour-picker {
  padding: 0;
}

.brand-colour-input {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* 
.card-separator {
  width: 100%;
  border: 1px solid var(--clr-base-text);
} 
*/


/*
Colours card & children styles
*/

.colours-card {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-light-border);
  background: var(--clr-card-background);
  flex: auto;
}

.colours-card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  flex: 1 0 0;
  justify-content: space-between;
}

.export-button {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-dark-border);
  background: var(--clr-base-text);
  color: var(--clr-button-alternate-text);
}

.palette-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-self: stretch;
}

.UI-colours,
.notification-colours,
.success-colours,
.alert-colours,
.brand-colour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
}

.category {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
  justify-content: space-between;
}

/* There are text-button-wrappers inside the category divs */

.lock-button.locked,
.lock-button {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-light-border);
}

.lock-button.locked {
  background: var(--clr-base-text);
  color: var(--clr-button-alternate-text);
}

.lock-button {
  background: var(--clr-button-alternate-text);
}

.lock-status,
.info {
  width: 1rem;
}

button:hover {
  cursor: pointer;
}

.swatch-strips {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.swatch-row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex: auto;
}

.swatch {
  width: 2.875rem;
  height: 2.875rem;
  border: solid 1px var(--clr-base-text);
  border-radius: 0.25rem;
  flex: 1 0 0;
}

/* 
All of this styling works down to width of 415 pixels at which point text and elements in the settings card begin to wrap.
*/
@media (width < 800px) {
  .swatch {
    width: 2.375rem;
    height: 2.375rem;
    border: solid 1px var(--clr-base-text);
    border-radius: 0.25rem;
    flex: 1 0 0;
  }
}

@media (width < 768px) {
  .content {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
  }
}

@media (width < 418px) {
  .settings-card{
    flex: 1 1 auto;
  }
  .swatch {
    width: 1.95rem;
    height: 1.95rem;
    flex: 1 1 auto;
  }
}